body {
	margin: 0;
	padding: 0;
	background: #F1F2E9!important;
	font-family: 'Oxygen', sans-serif;
	font-size: 13px;
	color: #8A8985;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
	color: #7D7764;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #5BA689;
}

#wrapper {
	overflow: hidden;
	background: #F1F2E9;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 600px;
}

#header {
	width: 960px;
	height: 200px;
	margin: 0 auto;
	padding: 0px 20px;
}

/* Logo */

#logo {
	overflow: hidden;
	height: 200px;
}

#logo h1, #logo p {
	text-align: center;
}

#logo h1 {
	letter-spacing: -6px;
	text-transform: lowercase;
	font-size: 5em;
}

#logo p {
	margin-top: -20px;
	padding: 0px 0px 0px 5px;
	font-size: 20px;
	font-weight: 300;
	color: #696969;
}

#logo p a {
	color: #696969;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #3C342E;
}